<?xml version="1.0" encoding="UTF-8"?>

<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

   <display-name>LocationServicesRESTInterface</display-name>
       
   <servlet>
       <description></description>
       <display-name></display-name>
       <icon>
           <small-icon></small-icon>
           <large-icon></large-icon>
       </icon>
       <servlet-name>LocationServices</servlet-name>
       <servlet-class>org.apache.wink.server.internal.servlet.RestServlet</servlet-class>
       <init-param>
           <param-name>applicationConfigLocation</param-name>
           <param-value>/WEB-INF/config/providers.properties;/WEB-INF/config/providers-ext.properties;/WEB-INF/config/resources.properties;/WEB-INF/config/resources-ext.properties</param-value>
       </init-param>
       <init-param> 
           <param-name>deploymentConfiguration</param-name> 
           <param-value>com.ibm.commerce.foundation.rest.config.CommerceDeploymentConfiguration</param-value> 
       </init-param>
   </servlet>
   <servlet-mapping>
       <servlet-name>LocationServices</servlet-name>
       <url-pattern>/*</url-pattern>
   </servlet-mapping>
   
   <listener>
       <description>Servlet listener that initializes Commerce LBS REST configuration </description>
       <icon>
           <small-icon>small.gif</small-icon>
           <large-icon>large.gif</large-icon>
       </icon>
       <listener-class>com.ibm.commerce.rest.config.CommerceRestConfigListener</listener-class>
   </listener>
</web-app>