<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="org.eclipse.jet.jet2Transformation">
<stringAttribute key="org.eclipse.jet.id" value="org.eclipse.jet.transforms.taglibdoc"/>
<intAttribute key="org.eclipse.jet.logFilterLevel" value="3"/>
<stringAttribute key="org.eclipse.jet.source" value="/WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/Resources/Nouns/InventoryAvailability.xml"/>
</launchConfiguration>