<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="com.ibm.xtt.xsl.core.launch.XSLLaunch">
<stringAttribute key="com.ibm.debug.attr_project_name" value="WebServicesRouter"/>
<booleanAttribute key="com.ibm.xtt.xsl.core.attr_first_template_stop_option" value="true"/>
<stringAttribute key="com.ibm.xtt.xsl.core.attr_input_xml" value="C:\IBM\WCDE_ENT70\workspace\WebServicesRouter\WebContent\component-services\xsd\OAGIS\9.0\Overlays\IBM\Commerce\BODs\ChangeInventoryAvailability.xsd"/>
<stringAttribute key="com.ibm.xtt.xsl.core.attr_output_file" value="C:/IBM/WCDE_ENT70/workspace/WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/_ChangeInventoryAvailability_transform.xml"/>
<stringAttribute key="com.ibm.xtt.xsl.core.attr_source_xsl" value=""/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/ChangeInventoryAvailability.xsd"/>
<listEntry value="/WebServicesRouter/WebContent/component-services/xsd/OAGIS/9.0/Overlays/IBM/Commerce/BODs/_ChangeInventoryAvailability_transform.xml"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="WebServicesRouter"/>
</launchConfiguration>