<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" metadata-complete="true">
	<display-name>
	Preview</display-name>
	
	<servlet>
		<description></description>
		<display-name>PreviewServlet</display-name>
		<icon>
			<small-icon></small-icon>
			<large-icon></large-icon>
		</icon>
		<servlet-name>PreviewServlet</servlet-name>
		<servlet-class>com.ibm.commerce.context.preview.servlet.PreviewServlet</servlet-class>
		<init-param>
			<param-name>targetWebAppName</param-name>
			<param-value>Stores</param-value>
		</init-param>
		<init-param>
			<param-name>webpath</param-name>
			<param-value>/webapp/wcs/preview</param-value>
		</init-param>
		<load-on-startup>-1</load-on-startup></servlet>
	<servlet-mapping>
		<servlet-name>PreviewServlet</servlet-name><url-pattern>/servlet/*</url-pattern><url-pattern>*.jsp</url-pattern><url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	<filter>
		<icon>
			
			
		</icon>
		<filter-name>PreviewFilter</filter-name>
		<filter-class>com.ibm.commerce.context.preview.servlet.PreviewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PreviewFilter</filter-name>
		<servlet-name>PreviewServlet</servlet-name>
		
		</filter-mapping>
	<filter>
		<icon>
			
			
		</icon>
		<filter-name>RuntimeServletFilter</filter-name>
		<filter-class>com.ibm.commerce.webcontroller.RuntimeServletFilter</filter-class>
		<init-param>
			<param-name>ServletName</param-name>
			<param-value>Preview</param-value>
		</init-param></filter>
	<filter-mapping>
		<filter-name>RuntimeServletFilter</filter-name>
		<servlet-name>PreviewServlet</servlet-name>
		</filter-mapping></web-app>
